.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 12px 0 0;
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__like-button {
  background-image: url("../images/heart.icon.svg");
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  margin: 12px 0 0;
  padding: 0;
  background-color: transparent;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 230px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
