.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in, visibility 0.5s ease-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background: #fff;
  max-width: 730px;
  padding: 32px 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}
.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
  max-width: 446px;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  margin: 12px 0 0;
  padding: 4px 8px;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  width: 135px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.modal__close-button {
  background-image: url("../images/modal.close.icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
}

.modal__close-button_type_preview {
  background-image: url("../images/modal_preview_close_button.svg");
  top: 0;
  right: -52.7px;
  opacity: 1;
  background-color: transparent;
}

.modal__close-button:hover {
  background-image: url("../images/modal.close.icon.hover.png");
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
}

.modal__input {
  max-width: 630px;
  border-radius: 8px;
  border: rgba(33, 33, 33, 0.4) 1px solid;
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.modal__input:hover {
  border: #212121 1px solid;
  cursor: pointer;
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 0;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 641px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }

  .modal__container_type_preview {
    border-radius: 8px;
    width: 100%;
    max-width: 288px;
    width: 100%;
    padding: 0;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__submit-button {
    width: 100%;
  }

  .modal__image {
    width: 100%;
    border-radius: 8px;
  }
  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
    margin: 8.4px 0 0;
  }

  .modal__close-button_type_preview {
    padding: 0;
    position: absolute;
    bottom: -8px;
    top: -48px;
    right: 0;
  }
}
